<!DOCTYPE html>
<html>
<head>
    <title>Expired Medicines</title>
</head>

<body>

<h2>Medicines Status</h2>

<table border="1">

<tr>
<th>ID</th>
<th>Name</th>
<th>Category</th>
<th>Expiry Date</th>
</tr>

{% for m in medicines %}

{% if m[10] == 'expired' %}
<tr style="background-color:red; color:white;">

{% else %}
<tr>
{% endif %}

<td>{{ m[0] }}</td>
<td>{{ m[1] }}</td>
<td>{{ m[2] }}</td>
<td>{{ m[9] }}</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/dashboard">Back to Dashboard</a>

</body>
</html>