<h2>Update Medicine</h2>

<form method="POST">

<input name="drug_name" value="{{medicine[1]}}"><br><br>
<input name="therapeutic_area" value="{{medicine[2]}}"><br><br>
<input name="molecule_type" value="{{medicine[3]}}"><br><br>
<input name="launch_year" value="{{medicine[4]}}"><br><br>
<input name="region" value="{{medicine[5]}}"><br><br>
<input name="units_sold" value="{{medicine[7]}}"><br><br>
<input name="drug_price" value="{{medicine[8]}}"><br><br>

<label>Expiry Date:</label>
<input type="date" name="expiry_date" value="{{ medicine[9].strftime('%Y-%m-%d') if medicine[9] else '' }}">

<button type="submit">Update</button>

</form>

<a href="/view_medicines">Back</a>